USE [master]
GO
/****** Object:  Database [Asociacion]    Script Date: 11/16/2011 10:09:09 ******/
CREATE DATABASE [Asociacion] ON  PRIMARY 
( NAME = N'Asociacion', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.PCABEL\MSSQL\DATA\Asociacion.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Asociacion_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.PCABEL\MSSQL\DATA\Asociacion_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Asociacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Asociacion]
GO
/****** Object:  Table [dbo].[LineasCredito]    Script Date: 11/16/2011 10:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LineasCredito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](128) NOT NULL,
	[plazo] [varchar](64) NOT NULL,
	[interes] [numeric](16, 6) NOT NULL,
 CONSTRAINT [PK_LineasCredito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/16/2011 10:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](256) NOT NULL,
	[cedula] [varchar](64) NOT NULL,
	[contrasena] [varchar](1024) NOT NULL,
	[correo] [varchar](256) NOT NULL,
	[activo] [bit] NOT NULL,
	[activoContrasena] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 11/16/2011 10:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idLinea] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[cuota] [numeric](16, 6) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_Solicitudes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operaciones]    Script Date: 11/16/2011 10:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Operaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[documento] [varchar](256) NOT NULL,
	[fecharEmision] [date] NOT NULL,
	[montoPrincipal] [numeric](16, 6) NOT NULL,
	[saldoActual] [numeric](16, 6) NOT NULL,
	[tipo] [int] NOT NULL,
	[cuota] [numeric](16, 6) NOT NULL,
	[observaciones] [varchar](512) NOT NULL,
 CONSTRAINT [PK_Operaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_Solicitudes_Lineas]    Script Date: 11/16/2011 10:09:10 ******/
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Lineas] FOREIGN KEY([idLinea])
REFERENCES [dbo].[LineasCredito] ([id])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Solicitudes_Lineas]
GO
/****** Object:  ForeignKey [FK_Solicitudes_Usuarios]    Script Date: 11/16/2011 10:09:10 ******/
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Solicitudes_Usuarios]
GO
/****** Object:  ForeignKey [FK_Operaciones_Usuarios]    Script Date: 11/16/2011 10:09:10 ******/
ALTER TABLE [dbo].[Operaciones]  WITH CHECK ADD  CONSTRAINT [FK_Operaciones_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Operaciones] CHECK CONSTRAINT [FK_Operaciones_Usuarios]
GO
