<%@ Master Language="C#" MasterPageFile="~/Views/Shared/MarcoPrincipal.Master" AutoEventWireup="true" CodeBehind="MarcoLogeado.master.cs" Inherits="Torneos.Views.Shared.MarcoLogeado" %>
<asp:Content ID="Content2" ContentPlaceHolderID="Head" runat="server">

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Encabezado" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Contenido" runat="server">
</asp:Content>

